<div class="container cart-product">
  <div class="row">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-bordered align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">operations</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartProduct of cartProducts; index as i">
              <th>{{ i + 1 }}</th>
              <td>
                <img [src]="cartProduct.item.url" alt="Title" />
              </td>
              <td>{{ cartProduct.item.name }}</td>
              <td>$ {{ cartProduct.item.price }}</td>
              <td>
                <div class="d-flex gap-3">
                  <button class="btn btn-dark" (click)="plusAmount(i)">
                    +
                  </button>
                  <input
                    type="number"
                    class="form-control-sm"
                    [(ngModel)]="cartProduct.quantity"
                    (change)="changeAmount()"
                    min="1"
                  />
                  <button class="btn btn-dark" (click)="minsAmount(i)">
                    -
                  </button>
                </div>
              </td>
              <td>$ {{ cartProduct.item.price * cartProduct.quantity }}</td>
              <td>
                <button
                  type="submit"
                  class="btn btn-danger btn-sm rounded-circle"
                  (click)="removeItem(i)"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart-item">
        <b
          ><fa-icon [icon]="faMoneyCheckDollar"></fa-icon> {{ totalPrice }} $</b
        >
      </div>
    </div>
    <div class="col-md-4">
      <app-user-info (userInfo)="onSubmit($event)"></app-user-info>
    </div>
  </div>
</div>
