<header
	class="d-flex align-items-center flex-column justify-content-center gap-5 text-center"
>
	<h2 class="text-white display-1">My Store</h2>
	<p class="text-white w-50 fs-5">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut accusamus
		architecto porro nostrum, nulla, odio nobis, incidunt laborum earum saepe
		consequuntur neque, tenetur voluptates fugiat labore nemo ipsam. Ratione,
		quasi?
	</p>
	<button class="btn btn-lg btn-dark" routerLink="/all-product">
		Shopping Now
	</button>
</header>

<app-all-product></app-all-product>
