<div
  class="container item-detail align-items-center d-flex position-relative"
  *ngIf="!loading"
>
  <div class="row w-100">
    <div class="offset-sm-2 col-sm-8 offset-md-2 col-md-8">
      <div class="card border-0 shadow-sm">
        <div class="row">
          <div class="col-md-6">
            <img class="img-card card-img-top" [src]="data.url" alt="Title" />
          </div>
          <div
            class="col-md-6 d-flex -column align-items-center justify-content-center"
          >
            <div class="card-body">
              <h4 class="card-title">{{ data.name }}</h4>
              <p class="card-text">{{ data.description }}</p>
              <div
                class="price d-flex align-items-center justify-content-center"
              >
                <span>${{ data.price }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="back-to d-flex align-items-center justify-content-center rounded-circle"
  routerLink="/"
>
  <fa-icon style="font-size: 30px; color: #333" [icon]="faArrowLeft"></fa-icon>
</div>

<div
  class="text-center w-100 d-flex justify-content-center align-items-center loading"
  *ngIf="loading"
>
  <app-spinner></app-spinner>
</div>
